/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 20px;
  margin-left: 30px;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.sidebar-left li.active{
  font-weight: bolder;
  background-color: #FF4200;
  padding: 10px 25px;
  border-color: transparent;
  border-radius: 0;
}
.sidebar-left li.active > a{
  color: #fff;  
}
.sidebar-left li{
  list-style-type: none;
  padding: 10px 25px;
}
.sidebar-left ul{
  padding-left: 0;
}
.sidebar-left li > a{
  font-weight: bolder;
  color: #000;
}
.sidebar-left li > a:hover{
  text-decoration: none;
}
.sidebar-left h4{
  font-weight: bolder;
  color: #000;
  display: inline-block;
}
.sidebar-left h3{
  margin-top: 0;
  color: #000;
}
.sidebar-left h5{
  color: #000;
  font-weight: bolder;
}
.boxblack{
  border: 1px solid #000;
  margin-bottom: 25px;
}
.dgreen{
  color: #0E4B2B;
  font-weight: bolder;
}
.border-right{
  border-right: 1px solid #999;
  margin: 10px 0;
}
.sidebar-left td{
  padding: 5px 10px 5px 0;
}
.news{
  text-align: center;
  font-size: 60px;
  padding-top: 59px;
}
.news p{
  font-size: 12px;
  font-weight: bolder;
  margin: 0 0 68px !important;
}
.sidebar-left p{
  margin: 0 0 15px;
}
.nopad{
  padding: 0 !important;
}
.grey-button{
  background: #6D6E72;
  font-weight: bolder;
  font-size: 15px;
  color: #fff;
  padding: 5px 7px;
  border: none;
}
.ubah{
  float: right;
  margin-bottom: 10px;
}
.rows{
  margin-bottom: 15px;
}
.bot-pa .grey-button{
  margin-top: -50px;
}
.bot-pa h4{
  color: #000;
}
.icon{
  vertical-align: middle;
  font-size: 20px;
  padding: 0 10px 9px;
}
.boxinput{
  border: 1px solid #d9d9d9;
  padding: 3px;
}
.w65{
  width: 50%;
  display: block;
}
.linebox{
  display: inline-block;
}
.padbox{
  padding-left: 20px;
}
.nomar{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.simpan{
  padding: 10px 20px;
  margin: 30px 0 40px;
  font-size: 1.25em;
  display: block;
}
.uks{
  display: block;
  padding-bottom: 10px; 
  border-bottom: 3px solid #999;
}
.boxes p{
  margin: 0 0 5px;
  color: #000;
}
.boxes p:nth-child(1){
  margin: 50px 0 5px;
}
.tmbhalmt{
  margin: 15px 0;
}
.pesanansaya tr:nth-child(1){
  border-bottom: 2px solid #b2b2b2; 
}
.pesanansaya td{
  padding: 15px 30px;
  text-align: center;
  color:#000;
}
.nwsletter{
  text-align: center;
  font-size: 60px;
  padding-top: 28px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.page h2{
  font-weight: bolder;
  color: #000;
  display: inline-block;
  margin-top: -25px;
  vertical-align: middle;
}
.icon-page{
  vertical-align: middle;
  font-size: 40px;
  padding: 0 10px 9px;
}
.page h4{
  font-weight: bolder;
  color: #1d4922;
  font-size: 1.5em;
  padding-top: 15px;
}
.widthfull {
  width: 100%;
}
.container { 
  max-width: 996px !important;
}
.padtop{
  padding-top: 20px;
}
.confirm{
  background: #FF4200 !important;
  margin-top: 25px;
  padding: 15px 60px;
}
.center{
  text-align: center;
}
.boldh5 h5{
  font-weight: bolder;
  color: #000;
}
.bantuan h5{
  color: #000;
  font-weight: bolder;
  font-size: 1.25em;
}
.bantuan .col-md-4{
  text-align: center;
}
#pemesanan-sprite{
  width: 85px;
  height: 79px;
  background: url(../images/sprite2.png) -5px 5px;
  margin: 0 auto;
}
#voucher-sprite{
  width: 79px;
  height: 79px;
  background: url(../images/sprite2.png) -90px 5px;
  margin: 0 auto;
}
#pembayaran-sprite{
  width: 66px;
  height: 79px;
  background: url(../images/sprite2.png) -170px 5px;
  margin: 0 auto;
}
#pengiriman-sprite{
  width: 94px;
  height: 79px;
  background: url(../images/sprite2.png) 259px 5px;
  margin: 0 auto;
}
#pengembalian-sprite{
  width: 100px;
  height: 79px;
  background: url(../images/sprite2.png) 164px 5px;
  margin: 0 auto;
}
#hubungi-sprite{
  width: 56px;
  height: 79px;
  background: url(../images/sprite2.png) 60px 5px;
  margin: 0 auto;
}
#bantuan-sprite{
  width: 43px;
  height: 43px;
  background: url(../images/sprite2.png) 243px -80px;
  margin: 0 auto;
  display: inline-block;
}
#kebijakan-sprite{
  width: 43px;
  height: 43px;
  background: url(../images/sprite2.png) -160px -80px;
  display: inline-block;
}
#tentang-sprite{
  width: 43px;
  height: 43px;
  background: url(../images/sprite2.png) -27px -80px;
  display: inline-block;
}
#syarat-sprite{
  width: 43px;
  height: 43px;
  background: url(../images/sprite2.png) -72px -80px;
  display: inline-block;
}
#konfirmasi-sprite{
  width: 43px;
  height: 43px;
  background: url(../images/sprite2.png) -115px -80px;
  display: inline-block;
}
#user-sprite{
  width: 22px;
  height: 21px;
  background: url(../images/sprite2.png) -4px -80px;
  display: inline-block;
}
#news-sprite{
  width: 49px;
  height: 43px;
  background: url(../images/sprite2.png) -206px -80px;
  display: inline-block;
}
.order li.active{
  font-weight: bolder;
  background-color: #1d4922;
  padding: 10px 25px;
  border-color: transparent;
  border-radius: 0;
}
.order li.active > a{
  color: #fff;  
}
.order li{
  list-style-type: none;
  padding: 10px 25px;
}
.order ul{
  padding-left: 0;
}
.order li > a{
  font-weight: bolder;
  color: #000;
}
.order li > a:hover{
  text-decoration: none;
}
.order h4{
  font-weight: bolder;
  color: #000;
  display: inline-block;
}
.order h3{
  margin-top: 0;
  color: #000;
}
.order h5{
  color: #000;
  font-weight: bolder;
}
.order table{
  width: 100%;
}
.order .tble td{
  padding: 10px;
  border: 1px solid #ddd;
}
.headtable td{
  text-align: center;
  font-weight: bolder;
}
table img{
  border: 1px solid #ddd;
}
#order1-sprite{
  width: 95px;
  height: 61px;
  background: url(../images/order-sprite.png) 0 0;
  display: inline-block;
}
#order2-sprite{
  width: 95px;
  height: 102px;
  background: url(../images/order-sprite.png) 97px 0;
  display: inline-block;
}
.tble2{
  margin-top: 25px;
}
.tble2 td{
  padding: 10px 10px;
}
.tble2 td:nth-child(2){
  text-align: right;
}
.tble3 td{
  padding: 10px 10px;
}
.item {
  height: 400px;
}
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.owl-prev{
  display: inline-block;
  float: left;
  content: "\e080";
}
.owl-next{
  display: inline-block;
  float: right;
  content: "\e079";
}
.item h5{
  display: inline-block;
  color: #385E36;
  font-weight: bolder;
}
.item h4:nth-last-child(1){
  display: inline-block;
  color: #fff;
  background: #C4161C;
  border-radius: 25px;
  padding: 10px;
  float: right;
}