/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 20px;
  margin-left: 30px;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.sidebar-left li.active{
    font-weight: bolder;
    background-color: #FF4200;
    padding: 10px 25px;
    border-color: transparent;
    border-radius: 0;
}
.sidebar-left li.active > a{
    color: #fff;  
}
.sidebar-left li{
    list-style-type: none;
    padding: 10px 25px;
}
.sidebar-left ul{
  padding-left: 0;
}
.sidebar-left li > a{
    font-weight: bolder;
    color: #000;
}
.sidebar-left li > a:hover{
  text-decoration: none;
}
.sidebar-left h4{
    font-weight: bolder;
    color: #000;
    display: inline-block;
}
.sidebar-left h3{
    margin-top: 0;
    color: #000;
}
.sidebar-left h5{
    color: #000;
    font-weight: bolder;
}
.boxblack{
    border: 1px solid #000;
    margin-bottom: 25px;
}
.dgreen{
    color: #0E4B2B;
    font-weight: bolder;
}
.border-right{
    border-right: 1px solid #999;
    margin: 10px 0;
}
.sidebar-left td{
    padding: 5px 10px 5px 0;
}
.news{
  text-align: center;
  font-size: 60px;
  padding-top: 59px;
}
.news p{
  font-size: 12px;
  font-weight: bolder;
  margin: 0 0 50px !important;
}
.sidebar-left p{
  margin: 0 0 15px;
}
.nopad{
  padding: 0 !important;
}
.grey-button{
  background: #6D6E72;
  font-weight: bolder;
  font-size: 15px;
  color: #fff;
  padding: 5px 7px;
  border: none;
}
.ubah{
  float: right;
  margin-bottom: 10px;
}
.rows{
  margin-bottom: 15px;
}
.bot-pa .grey-button{
  margin-top: -50px;
}
.bot-pa h4{
  color: #000;
}
.icon{
  vertical-align: middle;
  font-size: 20px;
  padding: 0 10px 9px;
}
.boxinput{
  border: 1px solid #d9d9d9;
}
.w65{
  width: 50%;
  display: block;
}
.linebox{
  display: inline-block;
}
.padbox{
  padding-left: 20px;
}
.nomar{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.simpan{
  padding: 10px 20px;
  margin: 30px 0 40px;
  font-size: 1.25em;
  display: block;
}
.uks{
  display: block;
  padding-bottom: 10px; 
  border-bottom: 3px solid #999;
}
.infoalamat p{
  margin: 0 0 5px;
  color: #000;
}
.tmbhalmt{
  margin: 15px 0;
}