body{
	background: #e6e7e8;
}
.mm-width{
	width: 790px;
	margin: 0 auto;
}
.fullwidth{
	width: 100%;
	text-align: center;
}
.nopad{
	padding: 0;
}
.page-0{
	background: #8e9cce;
	width: 100%;
}
.page-1{
	background: url(../images/blue.png);
	width: 100%;
	height: 444px;
}
.page-2{
	background: url(../images/red.png);
	width: 100%;
	height: 444px;
}
.page-3{
	background: url(../images/yellow.png);
	width: 100%;
	height: 444px;
}
.page-4{
	background: url(../images/mountain.png);
	width: 100%;
	height: 444px;
}
.logo{
	text-align: center;
	padding: 20px 0;
}
.bg-white{
	background: #fff;
}
.img-1{
	position: absolute;
	z-index: 1;
	top: 100px;
}
.img-2{
	position: absolute;
	z-index: 1;
	top: 100px;
	right: 0;
}
.img-3{
	position: absolute;
	z-index: 1;
	top: -20px;
}
.men{
	position: absolute;
	z-index: 1;
	top: 36px;
	left: 40px;
}
.girl{
	position: absolute;
	z-index: 1;
	top: 56px;
	right: 40px;
}
.seller-mozaik{
	margin-top: 0 !important;
}