@font-face {
	font-family: BebasNeue;
	src: url(../fonts/OpenSans-Regular.ttf);
}
html, body, p {
	line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;
}
.nopad{
	padding-right: 0px;
	padding-left: 0px;
}
.search-form{
	width: 100px;
	height: 32px;
	padding: 6px 0 10px 22px;
	font-size: 12px;
	line-height: 10px;
}
.camera_thumbs_cont{
	display: none;
}
.sale_banner {
	position: absolute;
	right: -4px;
	top: -4px;
	background: url("../img/saleoff.png")
}
.search-submit {
	left: 10px;
	top: 20px;
	margin-top: -15px;
	z-index: 1;
	color: #676767;
	border: 0;
	font-size: 0.9em;
	background: transparent;
	vertical-align: middle;
	position: absolute;
	cursor: pointer;
	transform-origin: 20% 40%;
	-ms-transform-origin: 20% 40%;
	-webkit-transform-origin: 20% 40%;
}
#footer{
	background: #1e1b1a;
	color: #b5b5b5;
	font-size: 12px;
}
.line {
	height: 2px;
	width: 100%;
	background: #000;
	border-top: 1px solid #2a2a2a;
}
.animatedhover {
	animation-play-state: paused;
}
.animatedhover:hover {
	animation-play-state: running;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.head-title{
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 17px;
}
.bottom-block {
	border: 1px solid #c9c9c9;
	float: left;
	padding: 15px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 25px;
}
.block-logo {
	width: 49px;
	height: 49px;
	float: left;
	margin-right: 15px;
}
.block-heading {
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 5px;
	color: #000000;
}
.block-caption {
	font-weight: 600;
	font-size: 14px;
	color: #676767;
}
a.visa {
	background-position: 0 0;
	width: 42px;
}
a.mastercard {
	background-position: -60px 0;
	width: 25px;
}
a.amex {
	background-position: -107px 0;
	width: 45px;
}
a.paypal {
	background-position: -163px 0;
	width: 53px;
}
.list-inline{
	display: inline;
}
.customNavigation{
	text-align: center;
}
.cart-total{
	text-transform: uppercase;
	color: #d2d2d2;
	font-size: 13px;
	border-top: 1px solid #d2d2d2;
	padding-top: 10px;
}